h1, h2, h3 {
            color:rgb(33,68,98);
            font-weight:bold;
        }
        h1 {
            padding:15px;
            margin-bottom:20px;
            border:5px solid rgb(135,143,201);
            background-color: rgb(200,228,250);
        }
        body {
            background-color:rgb(217,221,250);
            font-family: 'Raleway';
            font-size:15px;
            line-height:1em;
            color:rgb(66, 72, 74);
        }
        #british-subtype {
            background-color:rgb(232, 237, 161);
        }
        #american-subtype {
            background-color:rgb(237, 193, 150);
        }
        #canadian-subtype {
            background-color:rgb(227, 206, 152);
        }
        #table {
       width:100%;
       display:table-row;
       }
       .overflow-subtypes {
           width:40%;
           height:480px;
           overflow:auto;
           padding:6px;
           font-style:italic;
       }
       #container {
           margin: 20px 20px 20px 20px;
           padding:10px;
           border:5px solid rgb(135,143,201);
       }
       #content {
           position:relative;
           left:5px;
           padding:5px;
           border:5px solid rgb(135,143,201);
           width:20%;
           background-color:rgb(200,228,250);
       }
       .pic {
           width:300px;
           border:6px ridge rgb(140, 140, 122);
           margin:5px 5px 15px 16px;
       }
       img.floating-image {
           float:left;
           width:120px;
           border:5px ridge rgb(140, 140, 122);
           margin-right:5px;
       }
       a:hover {
           background-color:rgb(217, 208, 217);
       }   
